[Unit]
Documentation="https://github.com/overvis/opcb-release/tree/opcb-221-opipc"
Description=OPCB-221 interface daemon
Wants=network.target
After=syslog.target network.target

[Service]
Type=simple
User=root
Group=root
OOMScoreAdjust=-100
ExecStart=/opt/opcb-release/opcb-221
TimeoutSec=3
RestartSec=2
Restart=always

[Install]
WantedBy=multi-user.target
